<div class="container">
	<section class="question-details-box">
		<h1>Story headline</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac nisl ac enim pellentesque maximus. Quisque vitae malesuada enim. Quisque vitae hendrerit turpis. Proin eleifend diam sit amet ligula accumsan, egestas tempor arcu porttitor. Maecenas bibendum turpis ut aliquet consequat. Praesent vel consequat nibh, sit amet pretium turpis. Phasellus id dictum justo, in fermentum lacus. Sed ut luctus nunc. Nullam mattis, urna ut bibendum dictum, metus libero aliquet tellus, sit amet mattis ligula dui id mi.
		</p>
		<div class="question-user-box">
			<p class="pull-right">Username</p>
		</div>
	</section>
	<section class="answer-details-box">
		<h3>X Answers</h3>
		<div class="answer-details-inside-box">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac nisl ac enim pellentesque maximus. Quisque vitae malesuada enim. Quisque vitae hendrerit turpis. Proin eleifend diam sit amet ligula accumsan, egestas tempor arcu porttitor. Maecenas bibendum turpis ut aliquet consequat. Praesent vel consequat nibh, sit amet pretium turpis. Phasellus id dictum justo, in fermentum lacus. Sed ut luctus nunc. Nullam mattis, urna ut bibendum dictum, metus libero aliquet tellus, sit amet mattis ligula dui id mi.
			</p>
			<div class="answer-user-box">
				<p>Username</p>
			</div>
		</div>
		
	</section>
</div>