.signup-container {
	max-width: 764px;
}

.logo-box-signup h1 ,
.logo-box-signup p{
	text-align: center;
}

.signup-box {
	border: 2px solid #000;
	padding: 30px;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.logo-box-signup {
	padding-top: 60px;
}

.stories_section h1 {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #C0C0C0;
}
.border-left-grey {
	border-left: 1px solid #C0C0C0;
}
.border-right-grey {
	border-right: 1px solid #C0C0C0;
}
.subject_list {
	padding: 0;
	list-style: none;
}

.subject_list li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.stories-feed-box {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #C0C0C0;
}
.stories-feed-box h2,
.stories-feed-box h3 {
	padding-bottom: 15px;
}

.padding-bottom-extra {
	padding-bottom: 15px;
}
.question-details-box {
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #C0C0C0;
}
.question-details-box h1 {
	margin-bottom: 30px;
}
.question-user-box {
	height: 40px;
	padding-top: 15px;
	font-weight: 700;
}
.answer-user-box {
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 15px;
}
.answer-details-box {
	padding-top: 15px;
	padding-bottom: 15px;
}
.answer-details-box h3 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.answer-details-inside-box {
	padding-top: 15px;
	border-bottom: 1px solid #C0C0C0;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
.border-bottom-grey {
	border-bottom: 1px solid #C0C0C0;
}
.padding-top-bottom-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.margin-top-bottom-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.morecontent span {
	display: none;
}

/*.user-question-list-box {
	padding: 15px;
}*/