<div class="container">
	<h1 class="padding-bottom-30 border-bottom-grey">Username</h1>
	<div class="row padding-top-bottom-15">
			<div class="col-md-6 border-right-grey">
				<h3 class="padding-bottom-15 border-bottom-grey">Answers</h3>
				<a href="/question/1">
					<div class="user-question-list-box alert alert-success margin-top-bottom-15">
						<h4>Others Question</h4>
						<p>Your answer is bla bla</p>
					</div>
				</a>
				<a href="/question/1">
					<div class="user-question-list-box alert alert-success margin-top-bottom-15">
						<h4>Others Question</h4>
						<p>Your answer is bla bla</p>
					</div>
				</a>
			</div>
			<div class="col-md-6">
				<h3 class="padding-bottom-15 border-bottom-grey">Questions</h3>
				<a href="/question/1">
					<div class="user-question-list-box margin-top-bottom-15 alert alert-info">
						<h4>Your Question</h4>
					</div>
				</a>
			</div>
		</div>	
</div>