<div class="container signup-container">
	<div class="logo-box-signup">
		<h1>อับดุล</h1>
		<br>
		<p>ถามได้ตอบได้</p>
	</div>
	<br>
	<br>
	<div class="signup-box">
		<div class="row">
			<div class="col-md-6" style="border-right: 1px solid #000;">
				<h2>Sign up</h2>
				<br>
				<form method="post" action="/signup">
					<div class="form-group">
					    <label>Username</label>
					    <input type="text" class="form-control" placeholder="Name" name="user[username]">
					</div>
					<div class="form-group">
					    <label>Email address</label>
					    <input type="email" class="form-control" placeholder="Email" name="user[email]">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" placeholder="Password" name="user[password]">
					</div>
					<!-- <div class="form-group">
						<label>Confirm Password</label>
						<input type="password" class="form-control" placeholder="Confirm Password" name="user[confirm_password]">
					</div> -->
					<button type="submit" class="btn btn-info">Sign up</button>
				</form>
			</div>

			<div class="col-md-6">
				<h2>Login</h2>
				<br>
				<form method="post" action="/login">
					<div class="form-group">
					    <label>Email address</label>
					    <input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" placeholder="Password" name="password">
					</div>
					<button type="submit" class="btn btn-success">Login</button>
				</form>
			</div>
		</div>				
	</div>
</div>